*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}
.container{
    padding: 0 180px;
}
#navbar{
    background-color: #292E3C;
    padding-top: 30px;
    padding-bottom: 30px;
}
#nav-flex{
    display: flex;
}
#logo-img{
    width: 100%;
    height: 100%;
}
.list{
    display: flex;
    list-style-type: none;
    align-items: center;   
}
.list-style{
    margin-left: 50px;
}
.listing{
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.last{
 padding: 0 20px 0 230px;
 display: flex;
}
.btn{
 
    border: 1px solid #2b70fa;
    background-color: #2b70fa;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    width: 150px;
    font-weight: 700;
    line-height: 20px;
}
.btn:hover{
    background-color: white;
    color: #2b70fa;
    transition: all 0.7s ease
}


@media only screen and (max-width:480px) {

  .container{
  padding: 0 0;
  }
  #logo-img{
  margin-bottom: 20px;
  }
  .list-style{
    margin-left: 0;
  }
  .listing{
    position: relative;
    right: 30px;
  }
  .list{
  flex-direction: column;
  justify-content: center;
  }
  #nav-flex{
  flex-direction: column;
  justify-content: center;
  }
.last{
position: relative;
right: 110px;
 }
 .btn{
  position: relative;
  right: 28px;
  margin-top: 10px;
  margin-bottom: 20px;

 }
 .fa-user{
  position: relative;
  right: 30px;
  margin-left: 0px;
  padding: 0;
 }
}



/* Hero section */
.pad{
    padding: 50px 0;
    background-color: #292E3C;
}
#hero-flex{
    display: flex;
    background-color: #292E3C;
    padding: 30px 180px;
    align-items: center;
    justify-content:space-between;
}
.p-blue, .p-white, .p-white-small{
    margin-bottom: 25px;
}
.p-blue{
    color:#2196F3;
}
.p-white{
    color: white;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2px;
}
.p-white-small{
    color: white;
}
#ios-btn,  #android-btn{
    padding: 10px 10px;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    font-weight: 600;

}
#ios-btn{
    color: black;
    background-color: white;
    border-color: white;
}
#android-btn{
    color:white ;
    background-color: #292E3C;
    border-color: white;
    
}
#ios-btn:hover{
    color: white;
    background-color: black;
    border-color: black;
    transition: all 0.7s ease
}
#android-btn:hover{
    color: black;
    background-color: white;
    border-color: white;
    transition: all 0.7s ease
}
.fa-brands{
    margin-right: 10px;
}
#img-flex{
    display: flex;
     align-items: baseline;
}
#second-img{
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}


@media only screen and (max-width:480px) {

  #hero-flex{
    flex-direction: column;
    justify-content: center;
    padding: 20px ;
  }
 
  #img-flex{
    flex-direction: column;
  }
  #android-btn, #ios-btn{
    margin-bottom: 20px;
    margin-left: 70px;
  
  }
 
  #second-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}



/* Designed with section  */
#design{
    background-color: black;
    padding: 100px 180px;
}
#h1-style{
    color: white;
    font-size: 50px;
    text-align: center;

    padding-bottom: 20px;
}
#p-style{
    color: white;
    text-align: center;
    padding-bottom: 30px;
}
#cards-flex{
    display: flex;
    justify-content:space-evenly;

}
.card{
    background-color: #292E3C;
    border-radius: 10px;
    padding: 0 20px;
    animation-duration: 1s;
    animation-fill-mode: both;   
   
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(0px);
    }
    100% {
       opacity: 1;
       transform: translateY(-20px);
    }
 }
 .fadeInDown {
   
    animation-name: fadeInDown;
 }

.icon{
    border: 1px solid blue;
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 35px;
   height: 35px;
   margin-bottom: 20px;
}
#icon1{
    background-image: linear-gradient(rgb(132, 188, 250), rgb(43, 112, 250));
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
#icon2{
    background-image: linear-gradient(rgb(247, 184, 175), rgb(248, 69, 45));
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
#icon3{
    background-image: linear-gradient(rgb(160, 234, 194), rgb(49, 195, 105));
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
#icon4{
    background-image: linear-gradient(rgb(216, 170, 255), rgb(155, 44, 250));
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
}
.span {
    position: absolute;
    top: 40px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
    text-align: center;
}
#span1{
    right: 75px;
    background: #2b70fa;
}
#span2{
    right: 75px;
    background: #f8452d;
}
#span3{
    right: 75px;
    background: #31c369;
}
#span4{
    right: 75px;
    background: #9b2cfa;
}
.card-p-style, .card-p2-style{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.card-p-style{
    font-weight: 600;
    letter-spacing: 1px;
}
.card-p2-style{
    padding-bottom: 20px;
}
@media only screen and (max-width:480px) {
  #design{

    padding: 100px 80px;
}
  #h1-style{
    font-size: 30px;


  }
  #cards-flex{
    flex-direction: column;
    justify-content: center;
  }
  .card{
margin-bottom: 20px;

  }
}



/* Conversation section  */
.conversation{
    background-color: #292E3C;
    padding: 180px;
}
.conv-flex{
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.li-style{
text-decoration: none;
color: grey;

}
.fa-solid1{
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
  
}

.fa-solid1:active{
    color: #2b70fa;
}
.span-text{
    color: white;
}

#navid>ul>li{

    margin-bottom: 10px;
    border-radius: 10px;
}

#li-style1:active, #li-style2:active, #li-style3:active, #li-style4:active{
background-color: #2b70fa;
}
#feature-img{
    height: 85%;
    width: 85%;
}
.transition{
    animation: 
    shape 10s linear infinite alternate;
 
}
  
  @keyframes shape {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 150px);
    }
    
    80% {
      transform: translate(-150px, 150px);
    }
  }

  .transition2{
    animation: 
    shape2 10s linear infinite alternate;
 
}
@keyframes shape2 {
    0%, 100% {
      transform: translate(0, 200);
    }
    
    50% {
      transform: translate(200px, -150px);
    }
    
    80% {
      transform: translate(150px, -200px);
    }
  }

  @media only screen and (max-width:480px) {
    .conversation{
      padding: 0 20px;
    }
    .conv-flex{
      flex-direction: column;
    }
   
    #feature-img{
      width: 390px;
      height: 480px;
      margin-bottom: 20px;
    }
  }
  /* Traffic section  */
  .traffic{
    background-color: #292E3C;
    padding: 120px 0 180px 180px;
}
  .traffic-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .traffic-flex2{
    display: flex;
    margin-left: 15px;
  }
 
 .fa-solid2{
    height: 20px;
    width: 40px;
    box-shadow: 0px 6px 10px 0px rgb(16 73 189 / 30%);
 }
 #check-blue{
    color:#2b70fa ;
 }
 #check-tomato{
    color: tomato;
 }
#check-green{
    color: rgb(8, 196, 8);
}
#check-purple{
    color: rgb(156, 45, 156);
}
  .animated-pic, .animated-card{
    background-color: #292E3C;
    animation-duration: 2s;
    animation-fill-mode: both;
    max-width: 100%;

  }
  @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0px);
    }
 }
 .fadeInRight {
    animation-name: fadeInRight;
 }
 .btn2{
    border: 2px solid white;
    background-color: #292E3C;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    width: 200px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
 }
 .btn2:hover{
    background-color: white;
    color: #2b70fa;
    transition: all 0.7s ease
 }
 @media only screen and (max-width:480px){
  .traffic{
    padding: 120px 20px;
  }
  .traffic-flex{
    flex-direction: column;
  }
  .btn2{
    margin-bottom: 30px;
  }

}




 /* Carousel Start  */
 
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 0px;
    background-image: url(images/testimonial-bg.png);
    padding: 100px 0 180px 0;
    /* animation: slider 5s infinite; */
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* animation: slider 2s infinite; */
  
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    
    transition: opacity 0.6s ease-in-out ;
}
.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  
}
.title, .birth,.comment {
    padding: 0px;
    margin: 20px auto;
    text-align: center;
 
}
.title, .comment{
    font-size: 18px;
    color: white;
}
.birth{
    font-size: 12px;
    color: gray;
}

.fa-star{
    color: gold;
    
}
#star{
    text-align: center;
    padding-bottom: 100px;
    letter-spacing: 10px;
}
.carousel-control {
    color: rgb(155, 155, 155);
    cursor: pointer;
    display: none;
    font-size: 35px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 20%;
}

.carousel-control.next {
    right: 20%;
}

.carousel-control:hover {
    color: #ffffff;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
 
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }




/* Members section  */
.member-flex{
    display: flex;
    justify-content: space-evenly;

}
.head-style{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
 
}

.para-style{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.title-para{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}
.member-animation{
    animation-duration: 2s;
    animation-fill-mode: both;
}

.member-btn{
    color: white;
    background-color: #292E3C;
    border: 1px solid white;
    padding: 1%;
    border-radius: 10px;
    font-size: 20px;
    margin: 0;
    position: absolute;
    left: 42%;
    text-align: center;
}
.member-btn:hover{
    background-color: #2b70fa;
    color: white;
}
@media only screen and (max-width:480px) {
  .member-flex{
    flex-direction: column;
  margin-left: 45px;
  }
  .head-style{
    padding-top: 30px;
    font-size: 40px;
  }
  .member-btn{
    position: relative;
    bottom: 30px;
    left: 80px;
  }
}



/* Plan section  */
.plan-container{
    background-color: black;
    padding-top: 5%;
}
.all{
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: -8px;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .flexing{
    display: flex;
    justify-content: space-evenly ;
    padding: 0 40%;
  }
  .plan-card{
    border:1px solid #292E3C;
    border: none;
    border-radius: 10px;
    background-color: #292E3C;
    height: 70%;
    width: 250px;
    padding: 20%;
  }
  .member-para{
    color: white;
    font-size: 40px;
    /* margin-left: 20px; */
    font-weight: 700;

  }
  .fa-dollar-sign{
    color: white;
   
  }
  .dollar-flex{
    display: flex;
    align-items: flex-start;
  }
 
  .flexbox{
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
  }
  .p-white-medium{
    color: white;
    font-size: 20px;
    margin-bottom:20px;
  }
  .p-white-icon{
    color: white;
    font-size: 15px;
    margin-bottom:20px;
  }
  .choose-btn{
    color: white;
    background-color: #292E3C;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5%;

  }
  .choose-btn:hover{
    background-color: tomato;

  }
  @media only screen and (max-width:480px){
    .plan-container{
      padding: 0;
    }
    .flexbox{
      flex-direction: column;
      justify-content: center;
    }
    .plan-card{
      margin-bottom: 30px;
      position: relative;
      right: 32px;
    }
  }




  /* Accordion styles */
  .ac-container{
    background-color: black;
    padding: 10%;
}
.acp-center{
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}
.ac-flex{
    display: flex;
    justify-content:space-evenly ;
}
  .transition, .ul-class .li-class i:before, .ul-class .li-class i:after, .ac-p {
    transition: all 0.25s ease-in-out;
  }
  
  .flipIn, .ul-class .li-class, .ac-h1 {
    animation: flipdown 0.5s ease both;
  }
  
  .no-select, .h2-style {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

 
  
  .ac-h1, .h2-style {
    color: white;
  }
  
  .ac-h1 {
   text-align: center;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  
  .h2-style {
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color:#292E3C;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .ac-p {
    color: white;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    z-index: 2;
  }
  
  .ul-class {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin-bottom: 10px;
  }
  .ul-class .li-class {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #292E3C;
    border: 1px solid #dce7eb;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
 
 
  }
  .ul-class .li-class:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  .ul-class .li-class:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  .ul-class .li-class:nth-of-type(3) {
    animation-delay: 1s;
  }
  .ul-class .li-class:last-of-type {
    padding-bottom: 0;
  }
  .ul-class .li-class i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
  .ul-class .li-class i:before, .ul-class .li-class i:after {
    content: "";
    position: absolute;
    background-color:#2196F3;
    margin-left: -20px;
    width: 3px;
    height: 9px;

  }
  .ul-class .li-class i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .ul-class .li-class i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .ul-class .li-class .class-input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .ul-class .li-class .class-input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  .ul-class .li-class .class-input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  .ul-class .li-class .class-input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  @media only screen and (max-width:480px){
    .ac-container{
      padding: 2%;
    }
.ac-flex{
  flex-direction: column;
}

.ul-class .li-class{
  position: relative;
  left: 10px;
  width: 350px;
  margin-top: 0;
}
  }
  .h2-style{
    font-size: 15px;
  }


  
/* Latest blog start  */
.blog-container{
    background-color: #292E3C;
    padding-top: 5%;
    padding-bottom: 5%;
}
.blog-flex{
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;

}

.dot{
    font-size: 50px;
    color:#2196F3;
    position: relative;
    bottom: 3px;
}
.head-left{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
 
}
.p-left{
    color: white;
    font-size: 15px;
}
.learn-more{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:480px){
  .blog-flex{
    flex-direction: column;
    padding: 0px 10px;
  }

  .blog-img{
    padding-top: 100px;
  }
}
.blog-img{
    border-radius: 6px;

}



/* contact start  */
.bg-img{
    background-image: url(images/project-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-position: center;

}
.project-flex{
    display: flex;
    justify-content:space-evenly ;
}


.head-project{
    color: white;
    font-size: 50px;
    font-weight:900;
    margin-bottom: 10px;
}
.con-flex{
    display: flex;
}
.mailbox{
    margin-top: 20px;
    padding: 3% 20%;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    margin-right: 10px;

}
.sub-btn{
    padding: 0 10%;
    position: relative;
    top: 20px;
    height: 48px;
    color: white;
    background-color: rgb(1, 1, 46);
    border-radius: 6px;
    border: none;
    font-size: 15px;
}
@media only screen and (max-width:480px){
  
  .thumb-img{
    display: none;
  }
  .bg-img{
    width: 100%;
    height: 500px;
  }
  .head-project{
    padding: 70px 0px 0 10px;
  }
  .p-left{
    padding: 0 10px;
  }
  .con-flex{
    flex-direction: column;
  }
  .mailbox{
    width: 120px;
    margin-left: 10px;
  }
  .sub-btn{
    width: 200px;
    margin-left: 10px;
  }
}


/* Footer  */
.footer{
    background-color: black;
    padding: 10% 8%;
}
.footer-flex{
    display: flex;
    justify-content: space-evenly;
}
.white-text{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 20px;

}
.a-white{
    text-decoration: none;
    color: white;
}
.ul-remove > li{
    list-style-type: none;
    margin-bottom: 20px;
}
.btn-flex{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

@media only screen and (max-width:480px){
  .footer-flex{
    flex-direction: column;
    justify-content: center;
  }
.footer{
  padding: 10% 0;
}
.app{
  text-align: center;
margin-bottom: 40px;

}
.ul-remove{
  padding-left: 0;
}
.middle{
  margin-left: 0;
}
.btn-flex{
  flex-direction: column;

}
.class-hr{
  position: relative;
  right: 50px;
  width: 10px;
}
}


/* scroll bar  */

.top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 60px;      
    margin-left:1450px; 
    place-self:end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    background:#2196F3;
    border-radius: 10px;
 
  }

  @media only screen and (max-width:480px){
.top{
  margin-left: 300px;
}
  
}









